label{
    display: block;
    margin: 10px;
}
#inputs{
    border: 2px solid;
    margin: auto;
    text-align: center;
    height: auto;
    padding: 10px;
    width: 200px;
}
#graph{
    display: flex;
    justify-content: space-evenly;
}
.gethringData{
    border: 1px solid;
    padding: 10px;
    margin: 10px;
}
#shortBtn{
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
}